
.react-autosuggest__container {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0px 15vw 0vw 0vw;
}

.react-autosuggest__input {
  width: 95%;
  padding: 8px;
  font-weight: 300;
  font-size: 13px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  border-radius: 4px;
  color: #000;
  background-color: #fff;
}

.react-autosuggest__input::placeholder {
  color: #777;
  opacity: 1;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  position: absolute;
  padding: 0;
  background-color: #fff !important;
  list-style-type: none;
  width: 98%;
  border: 1px solid #eee;
  opacity: 1 !important;
  z-index: 10;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #eee;
  width: 95%;
  white-space: nowrap;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 12px/15px monospace;
}

.shortCode {
  background-color: #4696ec;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}

.highlight {
  background-color: yellow; 
  padding: 4px;
  border-radius: 2px;
}
