@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap");

.navbar-brand {
  font: 55px/54px monospace;
  font-size: calc(40px + 2vmin);
}

@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
  font-size: 10px;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mapContainer {
  width: 100%;
  height: 95%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 12px/16px monospace;
  z-index: 1;
  position: absolute;
  top: auto;
  left: auto;
  margin-top: 20px; // space between sidebar and title bar
  margin-left: 10px; // space between sidebar and chart column
  border-radius: 4px;
  }

.sidebar-selected {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 12px/16px monospace;
  z-index: 1;
  position: absolute;
  top: 45px;
  left: auto;
  margin: 10px;
  border-radius: 4px;
  }

.legend {
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  bottom: 2vh;
  right: 1vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  z-index: 1;
  }

.legend h4 {
  margin: 0 0 10px;
  }

.legend div span {
  border-radius: 50%;
  display: inline-grid;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.BoxText {
  padding: 6px 12px;
  font: 15px/24px monospace;
}

.legend .colorbar {
  background: linear-gradient(to right, rgba(225,19,19,0.8), rgba(218, 218, 218, 0.885), rgba(19,225,19,0.8));
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

.legend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 100%;
  text-align: center;
}

.legend li {
  display: inline-block !important;
  width: 33%;
}

.legend .left {
  float: left;
  text-align: left !important;
}

.legend .right {
  float: right;
  text-align: right !important;
}

#menu {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1;
  top: 5vh;
  right: 2vw;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  }
  
  #menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  }
  
  #menu a:last-child {
  border: none;
  }
  
  #menu a:hover {
  background-color: #e2e2e2c7;
  color: #404040;
  }
  
  #menu a.active {
  background-color: #3887be;
  color: #ffffff;
  }
  
  #menu a.active:hover {
  background: #3074a4;
  }